body {
    background: lightblue;
}

a.nav-link {
    font-size: 1.5em;
}

li.nav-item:has(a.nav-link[selected='true']) {
    background-color: black;
    color: white;
}

div.hint h1 {
    text-align: center;
}

#toolbox-container {
    margin: 30px;
    font-size: 1.2em;
}

#btn-container {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

h1.svg-title {
    margin: 20px;
}

.county {
    fill: #ebf0e4;
    stroke: gray;
    stroke-width: 0.1px;
}

.county:hover {
    opacity: 0.8;
}

.legend text {
    font-size: 1.5em;
}

.tooltip-container {
    position: absolute;

    z-index: 100;
    opacity: 0;

    background-color: white;
    color: black;

    font-size: 1.5em;
    padding: 15px;

    border-radius: 1em;
}
